/*
section{
    display: flex;

    height: 430px;
}
    */

section img{
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: 0.5s;
}

section img:hover{
    cursor: crosshair;
    width: 350px;
    opacity: 1;
    filter: contrast(120%);
}

